In [1]:
# 이름: 문재형
# 학번: 2022177357

In [82]:
# 1-1.(List)Comprehension 실습(1) - 정수 리스트

In [ ]:
# for문을 이용한 1~5 정수 리스트 만들기

In [5]:
number_list = [] #'number_list'라는 빈 리스트 만들기
for number in range(1,6): #1~5라는 범위 안의 숫자를 반복해줘
    number_list.append(number) #반복된 숫자를 리스트에 넣어줘(append라는 함수를 이용해서)

In [6]:
number_list

[1, 2, 3, 4, 5]

In [83]:
Print(number_list) #리스트는 프린트가 안되는 구나...

NameError: name 'Print' is not defined

In [8]:
number_list = list(range(1,6))

In [9]:
number_list

[1, 2, 3, 4, 5]

In [20]:
#List Comprehension(LC)을 통한 정수 리스트 만들기

In [19]:
number_list = [number for number in range(1,6)] #1~5라는 범위 안의 숫자를 반복해서 리스트(number_list)에 넣어줘

In [13]:
number_list

[1, 2, 3, 4, 5]

In [14]:
#LC+함수 적용

In [21]:
number_list1 = [number-1 for number in range(1,6)] # 1~5라는 범위 안의 숫자를 반복하되, 각각 -1을 한 값을 리스트(number_list1)에 넣어줘

In [17]:
number_list1

[0, 1, 2, 3, 4]

In [18]:
#LC+조건 적용

In [23]:
number_list2 = [number for number in range(1,6) if number % 2 == 1] # 1~5라는 범위 안의 숫자에서 2로 나눈 값이 1인 숫자를 반복해서 리스트(number_list2)에 넣어줘

In [24]:
number_list2

[1, 3, 5]

In [84]:
#1-2.(List)Comprehension 실습(2) - string 리스트

In [29]:
sentence = ['I', 'Love', 'Python', 'Soooo', 'Much'] #sentence라는 리스트에 string 값들을 부여함

In [85]:
a_list1 = [word.lower() for word in sentence] #sentence의 string값들을 소문자로 바꾼 후 리스트(a_list1)에 넣어줘

In [34]:
a_list1

['i', 'love', 'python', 'soooo', 'much']

In [39]:
a_list2 = [word for word in sentence if len(word) > 3] #sentence의 string값 중 글자수가 3보다 큰 값을 리스트(a_list2)에 넣어줘

In [40]:
a_list2

['Love', 'Python', 'Soooo', 'Much']

In [43]:
a_tuple = [(word.lower(), word.upper()) for word in sentence if len(word) > 3] #sentence의 string값들을 각각 (소/대문자)로 바꾼 후, 글자수가 3보다 큰 값을 튜플(a_tuple)에 넣어줘

In [44]:
a_tuple

[('love', 'LOVE'), ('python', 'PYTHON'), ('soooo', 'SOOOO'), ('much', 'MUCH')]

In [86]:
#1-3.(List)Comprehension 실습(3) - 두개의 for문

In [52]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row,col) #일반적인 for문을 이용함

1 1
1 2
2 1
2 2
3 1
3 2

In [54]:
rows1= range(1,4)
cols1 = range(1,3)
cells = [(row,col) for row in rows1 for col in cols1] #List Comprehension을 동시에 이용함
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [57]:
cells2 = [(i,j) for i in range(5) for j in range(i)]

In [56]:
cells2

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [87]:
#2.(Dictionary)Comprehension 실습

In [63]:
word = 'letter' #word라는 변수를 string으로 정의
letter_counts = {letter: word.count(letter) for letter in word}

In [62]:
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1}

In [88]:
#3.(Set)Comprehension 실습

In [70]:
a_set = {number for number in range(1,6) if number %3 ==1} #1~5 범위 안에서 각각의 수가 3으로 나눈 나머지가 1인 경우, 그 값을 세트(a_set)에 넣어줘

In [69]:
a_set

{1, 4}

In [89]:
# 2-1. Function 실습(1)_함수 정의

In [73]:
def sum(a, b):
    return a+b

In [74]:
sum(1, 2)

3

In [81]:
sum("I ", "am")

'I am'

In [90]:
#2-2. Function 실습(2)_zip을 이용한 순회

In [93]:
days = ["Monday", "Tuesday", "Wednesday"] #각 값(string)을 days, fruits, drinks, desserts라는 리스트에 넣어줘
fruits = ["banana", "orange", "peach"]
drinks = ["coffe", "tea", "beer"]
desserts = ["tiramisu", "ice cream", "pie", "pudding"]

In [97]:
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ":drink", fruit, "- eat", drink, "- enjoy", dessert) #4개의 리스트를 zip 즉, '병렬'로 묶어주고, 각 리스트 범위에서 day, fruit, drink, dessert 값을 반복적으로 넣어주고, 그걸 아래와 같은 형태로 프린트 해줘

Monday :drink banana - eat coffe - enjoy tiramisu
Tuesday :drink orange - eat tea - enjoy ice cream
Wednesday :drink peach - eat beer - enjoy pie

In [98]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

In [99]:
list(zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [100]:
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [109]:
#2-3. Function 실습(3)_함수 위치/키워드 인자

In [104]:
def menu(wine, entree, dessert):
    return {"wine": wine, "entree": entree, "dessert": dessert}

In [110]:
menu("red", "salad", "cake") #위치 인자 입력

{'wine': 'red', 'entree': 'salad', 'dessert': 'cake'}

In [111]:
menu(dessert="cheese cake", wine="white wine", entree="salmon") #키워드 인자 입력

{'wine': 'white wine', 'entree': 'salmon', 'dessert': 'cheese cake'}

In [113]:
menu("mimi wine", dessert="cheese cake", entree="salmon") #위치 -> 키워드 인자 순으로 입력

{'wine': 'mimi wine', 'entree': 'salmon', 'dessert': 'cheese cake'}

In [118]:
def menu2(wine, entree, dessert="pudding"): #dessert의 기본값으로 pudding
    return {"wine": wine, "entree": entree, "dessert": dessert}

In [117]:
menu2("red", "bread")

{'wine': 'red', 'entree': 'bread', 'dessert': 'pudding'}

In [121]:
def menu3(price, wine="red", entree="bread", dessert="pudding"): 
    return {"price": price, "wine": wine, "entree": entree, "dessert": dessert}

In [122]:
menu3(100)

{'price': 100, 'wine': 'red', 'entree': 'bread', 'dessert': 'pudding'}

In [123]:
menu3(price=100)

{'price': 100, 'wine': 'red', 'entree': 'bread', 'dessert': 'pudding'}

In [126]:
menu3(price=120, entree='beef')

{'price': 120, 'wine': 'red', 'entree': 'beef', 'dessert': 'pudding'}

In [129]:
menu3(dessert='bagel', price=110)

{'price': 110, 'wine': 'red', 'entree': 'bread', 'dessert': 'bagel'}

In [130]:
menu3('eighty', 'saint-pierre', 'fish')

{'price': 'eighty',
 'wine': 'saint-pierre',
 'entree': 'fish',
 'dessert': 'pudding'}

In [132]:
menu3('hundred', wine='saint-pierre')

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'bread',
 'dessert': 'pudding'}

In [133]:
#2-3. Function 실습(4)_docstring

In [135]:
def echo(anything):
    'echo returns its input argument' #docstring
    return anything

In [137]:
echo("alert")

'alert'

In [136]:
def print_if_true(thing, check):
    """
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.
    """
    if check:
        print(thing)

In [138]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [139]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.